# macOS
.DS_Store

# Xcode
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.xcworkspace
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# SwiftPM
.build/
.swiftpm/xcode/package.xcworkspace/

# Derived Data
DerivedData/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Logs and temp files
*.log
*.tmp

# Local config
.env

iPlate/GoogleService-Info.plist
node_modules
node_modules/
*.local